* {
  font-family: "Roboto", sans-serif;
  /* box-sizing: border-box; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.header {
  padding: 60px 120px;
}

.params-header {
  padding: 10px;
  justify-content: space-between;
}

.params-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.date-picker {
  background-color: white;
}

.country-picker {
  width: 150px;
}

.hotel-card .reservar {
  width: 100%;
  color: white;
  background-color: #01d0b1 !important;
  text-transform: unset;
  font-size: 1rem;
  border-radius: 0;
}

.info-paper {
  padding: 8px;
  margin: 8px;
  border-radius: 3px;
  padding: 20px 10px;
}

.hotel-card .info-icon {
  background-color: #209cee;
  fill: white;
  border-radius: 5px 0 0 5px;
  /* height: 40px; */
  padding: 10px;
}

.hotel-card .money-paper {
  background-color: #209cee;
  padding: 9px 10px;
}

.money {
  font-size: 1.15rem;
}

.stats-icons {
  background-color: "#209cee";
  padding: "5px";
}

.next-to-icon {
  margin-right: 8px;
}

.filters-text {
  margin-left: 1rem;
}

.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}
.envoltorio {
  border: 1px solid gainsboro;
  width: max-content;
  background-color: white;
  padding: 0.2rem;
  border-radius: 5px;
}
.input-icon {
  color: gainsboro;
  margin-right: 10px;
}

.envoltorio input,
.envoltorio select {
  border: none;
}

.no-results {
  margin-top: 25px;
  background-color: salmon !important;
}

.no-results h2,
.sad-face {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.sad-face {
  font-size: 8rem;
}

.input-outline {
  position: relative;
}

.in-out-icon {
  position: absolute;
  left: 10px;
  top: 3px;
  z-index: 1000;
}

.date-picker {
  background-color: white;
  border-radius: 4px;
  height: 37px;
  margin-top: 3px;
  border: 1px solid gainsboro;
}

.MuiInput-underline {
  /* padding: 5px; */
  /* padding-bottom: 5px; */
  padding-left: 55px;
}

.MuiInput-underline:after {
  border: 0;
}

.MuiInput-underline:before {
  border: 0 !important;
}

.MuiPickersToolbar-toolbar {
  background-color: #209cee !important;
}

.photo {
  width: 100%;
}
