* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.header {
  padding: 60px 120px;
}

.params-header {
  padding: 10px 120px;
  justify-content: space-evenly;
}

.params-form {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
}

.date-picker {
  background-color: white;
}

.country-picker {
  width: 150px;
}

.reservar {
  width: 100%;
  color: white;
  background-color: #01d0b1 !important;
  text-transform: unset;
  font-size: 1rem;
  border-radius: 0;
}

.info-paper {
  padding: 8px;
  margin: 8px;
  border-radius: 3px;
}

.info-icon {
  background-color: #209cee;
  padding: 5px 10px;
  fill: white;
  border-radius: 5px 0 0 5px;
}

.money-paper {
  background-color: #209cee;
  height: 1.1275rem;
}

.money {
  font-size: 1.25rem;
}

.stats-icons {
  background-color: "#209cee";
  padding: "5px";
}

.next-to-icon {
  margin-right: 8px;
}

.filters-text {
  margin-left: 1rem;
}

.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}
.envoltorio {
  border: 1px solid gainsboro;
  width: max-content;
  background-color: white;
  padding: 0.2rem;
  border-radius: 5px;
}
.input-icon {
  color: gainsboro;
  margin-right: 10px;
}

.envoltorio input,
.envoltorio select {
  border: none;
}

.no-results {
  margin-top: 25px;
  background-color: salmon;
}

.no-results h2,
.sad-face {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.sad-face {
  font-size: 8rem;
}
